In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer 
import re
import string
import glob
import os

In [2]:
folder_path = "reddit dataset/"
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

In [3]:
data = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)
data.to_csv("combined_data.csv", index=False)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37580 entries, 0 to 37579
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     34712 non-null  object
 1   ID             34712 non-null  object
 2   is_Original    26311 non-null  object
 3   Flair          19587 non-null  object
 4   num_comments   29179 non-null  float64
 5   Title          29179 non-null  object
 6   Subreddit      37580 non-null  object
 7   Body           16405 non-null  object
 8   URL            29179 non-null  object
 9   Upvotes        37580 non-null  int64
 10  Comments       27163 non-null  object
 11  creation_date  37580 non-null  object
 12  is_original    2868 non-null   object
 13  Text           8400 non-null   object
 14  Sentiment      8401 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 4.3+ MB

In [5]:
data.isnull().sum()

Unnamed: 0        2868
ID                2868
is_Original      11269
Flair            17993
num_comments      8401
Title             8401
Subreddit            0
Body             21175
URL               8401
Upvotes              0
Comments         10417
creation_date        0
is_original      34712
Text             29180
Sentiment        29179
dtype: int64

In [6]:
data = data.drop(columns=['Unnamed: 0', 'is_Original', 'Flair', 'URL'])
data

,ID,num_comments,Title,Subreddit,Body,Upvotes,Comments,creation_date,is_original,Text,Sentiment
0,fcpbui,13.0,Can't have sex the same,AdviceForTeens,"I'm in a relationship of 2 years, naturally be...",24,Have you tried trying your hardest to just con...,2020-03-03 12:39:21,NaN,NaN,NaN
1,fbtk1w,3.0,How to break up with a friend in the most peac...,AdviceForTeens,I’d love for us to slide off of each other but...,18,there’s really two ways you can do this.\r\nth...,2020-03-01 20:44:48,NaN,NaN,NaN
2,1681jg,4.0,[MODPOST] [META] Lets bring this subreddit bac...,AdviceForTeens,Hey everyone! I'm one of your friendly neighbo...,21,Me: http://i.imgur.com/QqKyW.jpg\r\n\r\nI also...,2013-01-09 10:23:30,NaN,NaN,NaN
3,fcmxds,0.0,The most important thing when texting a girl i...,AdviceForTeens,Here are some tips on how to text a girl and s...,18,NaN,2020-03-03 09:33:01,NaN,NaN,NaN
4,f9gz1a,15.0,"My dad found my porn, help",AdviceForTeens,So.. I got a virus onto my laptop so my dad de...,18,"How old are you? If you’re of reasonable age, ...",2020-02-26 04:51:52,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
37575,2l6gjh,0.0,This thread is one of the most goddamn infuria...,YouthRights,NaN,0,NaN,2014-11-03 18:30:32,NaN,NaN,NaN
37576,1unipq,0.0,Youth baseball is better when you train with d...,YouthRights,NaN,0,NaN,2014-01-07 21:08:33,NaN,NaN,NaN
37577,klm9m,12.0,Under 35 Entrepreneur? Win a Re:LIFE Inc Prize,YouthRights,NaN,0,IMO this has nothing to do \nwith youth rights...,2011-09-20 14:42:42,NaN,NaN,NaN
37578,16yt7q,11.0,How many years until we'll be ready for a 12-y...,YouthRights,I still like to let it sink in from time to ti...,0,> the average 5th grader has access to the sam...,2013-01-21 03:09:56,NaN,NaN,NaN
37579,poq5z,118.0,The Truth About Child Sexualization,YouthRights,Suppose we defined all activities on the part ...,0,"""child sexualization"" asumes that children are...",2012-02-14 05:46:11,NaN,NaN,NaN

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37580 entries, 0 to 37579
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             34712 non-null  object
 1   num_comments   29179 non-null  float64
 2   Title          29179 non-null  object
 3   Subreddit      37580 non-null  object
 4   Body           16405 non-null  object
 5   Upvotes        37580 non-null  int64
 6   Comments       27163 non-null  object
 7   creation_date  37580 non-null  object
 8   is_original    2868 non-null   object
 9   Text           8400 non-null   object
 10  Sentiment      8401 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 3.2+ MB

In [8]:
data.describe(include='all')

,ID,num_comments,Title,Subreddit,Body,Upvotes,Comments,creation_date,is_original,Text,Sentiment
count,34712,29179.000000,29179,37580,16405,37580.000000,27163,37580,2868,8400,8401
unique,28336,NaN,28187,30,16158,NaN,22784,29174,2,8399,3
top,fcpbui,NaN,Top 10 Machine Learning Methods Explained in L...,jobs,.,NaN,[removed],2020-03-03 01:26:23,False,new subreddit private institution watchdogs r ...,positive
freq,2,NaN,6,4990,7,NaN,2175,3,2867,2,5227
mean,NaN,163.882004,NaN,NaN,NaN,3021.694093,NaN,NaN,NaN,NaN,NaN
std,NaN,492.927243,NaN,NaN,NaN,11563.837167,NaN,NaN,NaN,NaN,NaN
min,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,7.000000,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,42.000000,NaN,NaN,NaN,130.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,116.000000,NaN,NaN,NaN,718.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,15433.000000,NaN,NaN,NaN,199296.000000,NaN,NaN,NaN,NaN,NaN

In [9]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [10]:
ps = nltk.PorterStemmer()
wn = nltk.WordNetLemmatizer()
stopwords = nltk.corpus.stopwords.words('english')

In [11]:
def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [ps.stem(word) for word in tokens if word not in stopwords]
    text = [wn.lemmatize(word) for word in text if word not in stopwords]
    return text

<>:3: SyntaxWarning: invalid escape sequence '\W'
<>:3: SyntaxWarning: invalid escape sequence '\W'
C:\Users\aryan\AppData\Local\Temp\ipykernel_21864\2602690433.py:3: SyntaxWarning: invalid escape sequence '\W'
  tokens = re.split('\W+', text)

In [12]:
data['cleaned_Title'] = data['Title'].apply(lambda x: clean_text(x))
data['cleaned_Body'] = data['Body'].apply(lambda x: clean_text(x))
data['Cleaned_Comments'] = data['Comments'].apply(lambda x: clean_text(x))

C:\Users\aryan\AppData\Local\Temp\ipykernel_21864\2602690433.py:3: SyntaxWarning: invalid escape sequence '\W'
  tokens = re.split('\W+', text)

TypeError: 'float' object is not iterable